@{
    ViewData["Title"] = "Accounts";
}

<div class="ensek-admin-app-container"></div>

<script src="~/js/react/ensekAdminApp.min.js" asp-append-version="true"></script>
<script>
    window.renderEnsekAdminApp({
        "container": document.querySelector(".ensek-admin-app-container")
    });
</script>
